body {
    background-color: black;
    color: white;
    font: 16px/1.5 Lexend;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: auto;
    width: 100%;
}