.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: Lexend, sans-serif;
  background-color: #A7C7E7;
  color: black;
}


.centered {
  margin: 0 auto;
  text-align: center;
}

.group-item {
  display: flex;          
  align-items: center;   
  margin-bottom: 1rem;   
  padding: 1rem;         
  border: 1px solid #ddd; 
  border-radius: 4px;
}

.group-ul {
  border: none;
  line-height: 1.8;
  margin-left: 60px
}

.group-icon {
  width: 50px;
  height: 50px;
  margin-right: 1rem;  
}

.group-text {
   text-align: center;     /* Center the group heading */
}

